# Manejo de datos
pandas==2.2.2

# Lectura y escritura de Excel
openpyxl==3.1.2
xlsxwriter==3.2.0

# Expresiones regulares, sistema y utilidades (parte de la librería estándar de Python)
# (re, os, sys no necesitan instalación)

# Orquestación de procesos (subprocess ya está incluido en Python estándar)

# Opcional - útil si luego quieres manejar formatos adicionales
xlrd==2.0.1         # Para archivos Excel .xls (antiguos)
pyarrow==16.1.0     # Para exportar a Parquet si vas a un Data Lakehouse
